body{
    width: 400px;
    height: 550px;
    padding: 8px;
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 0px 
}

#timer-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#timer{
    color: darkgreen;
    text-align: center;
    font-size: 45px;
    margin: 10px;

}
#rest-timer{
    color: red;
    align-self: baseline;
    font-size: 20px;
    
}

.header{
    display:flex;
    justify-content: center;
    height: 45px;
    padding-top: 5px;
}


#btn-container{
    display: flex;
    justify-content: space-evenly;
}

#btn-container > button{
    color: indianred;
    background-color: antiquewhite;
    border-style: solid;
    outline: none;
    border-radius: 5px;
    border-color: indianred;
    padding: 8px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;

}


#task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.task-input-text {
    outline: none;
    border-style: solid;
    border-radius: 3.5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    width: 250px;
    background-color: antiquewhite;
    border-color: darkgreen;
}


.task-delete-btn {
    border-style: solid;
    outline: none;
    size: 25px;
    border-radius: 3.5px;
    color: indianred;
    border-color: indianred;
    cursor: pointer;
    font-weight: bold;
    background-color: antiquewhite;
    margin: 2px;
}

.task-complete-btn{
    border-style: solid;
    margin: 2px;
    outline: none;
    size: 25px;
    border-radius: 3.5px;
    color: darkgreen;
    border-color: darkgreen;
    cursor: pointer;
    font-weight: bold;
    background-color: antiquewhite;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 95%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#reset-task-btn{
    margin: 3px;
    color: blue;
    border-color: black;
    background-color: antiquewhite;
    font-weight: bold;
    border-style: solid;
    border-radius: 3.5px;
    cursor: pointer;
    outline: 0;
    font-size: 9px;
    padding-left: 2px;
    padding-right: 2px;
}
#cur-time{
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
}

#task-complete-container {
    display: inline-block;
}

#task-complete-container  > * {
    display: inline-block;
    vertical-align: middle;
}